* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1d1d1d;
  --secondary-color: #ffffff;
  --label-color-dark: #ccc;
  --label-color-light: #000;
}

body {
  overflow: hidden;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 85vh;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.space {
  padding: 20px;
  flex-wrap: wrap;
  overflow: hidden;  
}

.table {
  display: block;
  width: 75%;
  max-width: 75%;  
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 100vw;
  margin: 10px 0; 
  border-radius: 0 !important;
}

.table div {
  display: inline-block;
  min-width: 100%;  
  min-height: 400px;
}

@media (max-width: 750px) {
  .content {
    height: 90vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .space {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  .table {
    width: 80%;
    max-width: 80%;
    overflow-x: auto;
  }

  .footer {
    height: 10vh;
  }
}

@media (max-width: 400px) {
  .content {    
    padding: 5px;
  }

  .space {
    margin-top: 20px;
    padding: 5px;
  }  
}