* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1d1d1d;
  --secondary-color: #ffffff;
  --label-color-dark: #ccc;
  --label-color-light: #000;
}

body {
  overflow: hidden;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 85vh;
  width: 100%;
  margin: 0 auto;
}

.space {
  padding: 20px;
}

@media(max-width: 750px) {
  .content {
    min-height: 90vh;
  }

  .space {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 100px;
    width: 65%;
    white-space: nowrap;    
    overflow: hidden;    
    text-overflow: ellipsis;    
  }
  
  .footer {
    height: 10vh;
  }
}

@media(max-width: 400px) {
  .space {
    margin-top: 200px;
    width: 100%;
  }
}